<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.primary.WorkerNodeMapper">
  <resultMap id="BaseResultMap" type="com.baidu.fsg.uid.worker.entity.WorkerNode">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="HOST_NAME" jdbcType="VARCHAR" property="hostName" />
    <result column="PORT" jdbcType="VARCHAR" property="port" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="LAUNCH_DATE" jdbcType="DATE" property="launchDate" />
    <result column="MODIFIED" jdbcType="TIMESTAMP" property="modified" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HOST_NAME, PORT, TYPE, LAUNCH_DATE, MODIFIED, CREATED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from worker_node
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from worker_node
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baidu.fsg.uid.worker.entity.WorkerNode">
    insert into worker_node (ID, HOST_NAME, PORT, 
      TYPE, LAUNCH_DATE, MODIFIED, 
      CREATED)
    values (#{id,jdbcType=BIGINT}, #{hostName,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{launchDate,jdbcType=DATE}, #{modified,jdbcType=TIMESTAMP}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baidu.fsg.uid.worker.entity.WorkerNode">
    insert into worker_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="hostName != null">
        HOST_NAME,
      </if>
      <if test="port != null">
        PORT,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="launchDate != null">
        LAUNCH_DATE,
      </if>
      <if test="modified != null">
        MODIFIED,
      </if>
      <if test="created != null">
        CREATED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="launchDate != null">
        #{launchDate,jdbcType=DATE},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.fsg.uid.worker.entity.WorkerNode">
    update worker_node
    <set>
      <if test="hostName != null">
        HOST_NAME = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        PORT = #{port,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="launchDate != null">
        LAUNCH_DATE = #{launchDate,jdbcType=DATE},
      </if>
      <if test="modified != null">
        MODIFIED = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.fsg.uid.worker.entity.WorkerNode">
    update worker_node
    set HOST_NAME = #{hostName,jdbcType=VARCHAR},
      PORT = #{port,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=INTEGER},
      LAUNCH_DATE = #{launchDate,jdbcType=DATE},
      MODIFIED = #{modified,jdbcType=TIMESTAMP},
      CREATED = #{created,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>