<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>菜单</title>
		<!--iview-->
		 <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
	   <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
	    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
		<!--axios-->
	    <script type="text/javascript" src="../js/axios.min.js"></script>
	</head>


	<body>
		<div id="menu">
			<a @click="userOne">user_one</a>
			<br>
			<a @click="userTwo">user_two</a>
			<br>
			<a @click="adminOne">admin_one</a>
			<br>
			<a @click="adminTwo">admin_two</a>
			<br>
			<a>admin_two_test</a>
		</div>
	</body>
	<script>
		var vue = new Vue({
			el: '#menu',
			data: {
				ip:'localhost:8022',
			},
			methods: {
				userOne: function() {
					window.location.href= '../user/user_one';
				},
				userTwo: function() {
					window.location.href= '../user/user_two';
				},
				adminOne: function() {
					window.location.href= '../admin/admin_one';
				},
				adminTwo: function() {
					window.location.href= '../admin/admin_two';
				},


				showHintSuccess:function( msg){
					this.$Notice.success({
	                    title: '提示消息',
	                    desc:msg,
	                });
				},
				showHintError:function(msg){
					this.$Notice.error({
	                    title: '提示消息',
	                    desc:msg,
	                });
				},
			}
		});
	</script>

</html>